:root{--accent:#c62828;--bg:#f7f7f8;--card:#fff;--muted:#777;--lightGrey:#aaa;--black:#484545;--darkBlue:#1f335e}
*{box-sizing:border-box}
html {scroll-behavior: smooth;}
body{font-family:Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; margin:0; color:#111; background:var(--bg);line-height:1.5;position:relative;}

header{background:linear-gradient(90deg,#1f2937, #111827); color:#fff; padding:0 16px 28px 16px;}

header .containerTop{max-width:1000px;margin:0 auto;padding:0 0 20px 0;}

.menuSticky {position: sticky;left: 0;top: 200px; background-color:#fff;display: flex; flex-direction: column;padding: 20px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;width: 300px;background:linear-gradient(90deg,#1f2937, #111827); z-index:100;}
.menuSticky a {color: white; text-decoration: none;}

.container{max-width:1000px;margin:20px auto;padding:0 0 20px 0;display: flex;
  flex-direction: column;position: relative;}
.logo{font-weight:700;letter-spacing:0.4px}

nav{display:flex;gap:12px;align-items:center;justify-content:space-between;width:100%;margin:0 auto;position: sticky;top: 0;background:linear-gradient(90deg,#1f2937, #111827); padding: 28px 14%;z-index:100;}
.navlinks a{color:#d1d5db;font-size:1.2rem;margin-left:12px;padding: 10px;text-decoration: none;}
.navlinks a.accent {color:var(--accent)}
.navlinks a.actif {color:#2980d1;border-bottom: 1px solid white;}

.hero{display:grid;grid-template-columns:1fr;gap:18px;align-items:center;padding:36px 0}

h1{font-size:clamp(22px,4.2vw,36px);margin:0}
h3 {scroll-margin-top: 150px;}

p.lead{color:var(--lightGrey);margin:8px 0 0}
.ctas{margin-top:16px;display:flex;gap:10px;flex-wrap:wrap}
.btn{background:var(--accent);color:#fff;border:none;padding:10px 14px;border-radius:8px;cursor:pointer;text-decoration:none;display:inline-block}
.outline{background:transparent;border:1px solid rgb(255, 254, 254); color:white;padding:10px 14px;border-radius:8px;text-decoration:none;}
main{padding:18px 0}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(50%,1fr));gap:16px}

.card{background:var(--card);padding:18px;border-radius:10px;box-shadow:0 6px 18px rgba(16,24,40,0.04)}
ul.reasons{padding-left:18px;margin:8px 0;color:var(--muted)}
footer{padding:28px 0;color:var(--muted)}
.small{font-size:0.9rem}
.muted{color:var(--muted)}
.black{color:var(--black)}
.darkBlue{color:var(--darkBlue)}
.lightGrey{color:var(--lightGrey)}
.accent{color:var(--accent)}
.bold {font-weight: bold}
form input, form textarea{width:100%;padding:10px;border:1px solid #e5e7eb;border-radius:8px;margin-top:8px}
.petition-count{font-weight:700;color:var(--accent)}
@media screen and (min-width:900px){
    .hero{grid-template-columns:1fr 420px}
    
}
@media screen and (max-width:1400px){
    nav {
        padding: 28px 3%;
    }
}
@media screen and (max-width:1000px){
    nav {padding: 5px;align-items: flex-start;}
    .navlinks {
        display: flex;
        flex-direction: column;
    }
    .margeMobile {margin-left: 10px;}
}